# Core Libraries
pandas
scikit-learn
joblib

# Text Processing
nltk
beautifulsoup4

# Web App
flask

# URL & Regex Handling
tldextract
requests

# Optional but common for parsing HTML, if needed in the future
lxml
